
<h3>Find your forever match, <%= user.email %>!💋</h3>

<ul>
    <% animals.forEach(animal => { %>
       <% console.log("animal", animal)%>
       <li>
         <a href="/users/pet/<%= animal.name %>"><%= animal.name %></a>
         <img src= "<%= (animal.photos[0]) ? animal.photos[0].medium : 'null' %>"/>
        </li>
        <form method="POST" action="/users/favorites">
         <input hidden value="<%= animal.name %>" name="name"/>
         <input hidden value="<%= animal.age %>" name="age"/>
         <input hidden value="<%= animal.photos[0].medium %>" name="photos"/>
         <button type="submit">Save this Pet!</button>
      </form>
  <% }) %>
</ul>

