
<h3>Find your forever match!💋</h3>

<ul>
    <% animals.forEach(animal => { %>
       <% console.log("animal", animal)%>
       <li>
         <h1><%= animal.name %></h1>
         <img src= "<%= (animal.photos[0]) ? animal.photos[0].medium : 'null' %>"/>
      </li>
        <form id="form" method="POST" action="/users/favorites">
         <input hidden value="<%= animal.name %>" name="name"/>
         <input hidden value="<%= animal.photos.medium %>" name="photos"/>
         <input hidden value="<%= animal.age %>" name="age"/>
         <button type="submit">Save <%= animal.name %> to your favorites! </button>
      </form>
  <% }) %>
</ul>

